<a href="https://colab.research.google.com/github/valmazan/Project_2_Part_1/blob/main/Project_2_Part_1_Victoria_Almazan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 - Part 1

For this Task:
Whether you chose 2 pre-approved datasets or 2 datasets from another source, or one of each:

Create a notebook where you have uploaded and shown the .head() of each of your data sets. For each of the proposed datasets, include the following information in text cells:

First choice: Spanish Wine Quality Dataset

1. Source of the Data 
 - Kaggle 

2. Brief description of data
 - This data is is related to red variants in Spanish Wines. Which describes popurality and descriptions of metrics effect on quality. 

3. What is the target?
 - The target is to predict either quality of wine based on the given data or predict the prices.  

4. What does one row represent? (A person?  A business?  An event? A product?)
 - It represents mainly a product. 

5. Is this a classification or regression problem?
 - It can be used as a classification and regression problem. 

6. How many features does the data have?
 - This data set has 11 features. 

7. How many rows are in the dataset?
 - There are 7500 rows. 

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
 - I potientially forsee having to do extensive cleaning for this data as well as fixing missing values as this dataset may be inbalanced.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_transformer 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import (roc_auc_score, ConfusionMatrixDisplay, 
                             PrecisionRecallDisplay, RocCurveDisplay, 
                             f1_score, accuracy_score, precision_score,
                             recall_score, classification_report)
from sklearn import set_config
set_config(display='diagram')

In [3]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRdlCBU471ijgzSbXzxQOsloENGNY4bKDRKn50EcCpq7iSCZPkk2N2l7PReD7xNiOJAK5brD5TKdK9x/pub?gid=1457616118&single=true&output=csv')

In [6]:
df.head(1)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.0,Toro Red,5.0,3.0

In [9]:
df.shape
print(f'There are {df.shape[0]} rows, and {df.shape[1]} columns.')

There are 7500 rows, and 11 columns.

Second choice: Stroke Prediction Dataset
1. Source of data
 - Kaggle 

2. Brief description of data
 - This data set is based on strokes being the leading cause of death globally per the World Health Organization. 

3. What is the target?
 - The target is to predict whether it is likley for a patient is likely to get a stroke based on the different attributes. 

4. What does one row represent? (A person?  A business?  An event? A product?)
 - This data represents a person or person(s)

5. Is this a classification or regression problem?
 - classification

6. How many features does the data have?
 - There are 12 features in this dataset

7. How many rows are in the dataset?
 - There are 5110 rows 

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
 - I foresee having potential issues with modeling this data.

In [10]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQwXfOPBDuob3sFoAmoTRQInrWX9HiJJygee47zGl1o7xHpNRtz6oYtNkO-vOVZeJTXMpkJd2ytO7_k/pub?gid=843931573&single=true&output=csv')

In [13]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [12]:
df.shape
print(f'There are {df.shape[0]} rows, and {df.shape[1]} columns.')

There are 5110 rows, and 12 columns.